body {
	background-color: rgb(30,30,30);   
	color: white;             
	font-size: 28px;          
	font-family: Arial, sans-serif;
	
}
h1{
	text-align: center;

			   /* 居中 */
 
   transition: all 0.3s ease;
	font-size: 86px;
	   }
a{

color: white;             
	font-size: 40px;          
transition: all 0.2s ease;

	text-decoration: none;
}

a:hover {
	color: orange;
		
	font-size: 50px;
}



h1:hover {
color: orange;
	font-size: 100px;
		}
		
		
		
.one{
width: 800px;
	height: 200px;
			background: rgb(255, 170, 50);
			border-radius: 30px;
border: 0px solid #000;
font-size: 50px;
	font-weight: 800;
color: rgb(30,30,30);
transition: all 0.3s ease;
	margin-top: 50px;
}
.sec{
width: 800px;
	height: 200px;
			background: rgb(30, 30, 30);
			border-radius: 30px;
border: 10px solid rgb(255,170,50);
font-size: 50px;
	font-weight: 800;
color: rgb(255,170,50);
transition: all 0.3s ease;
	margin-top: 50px;
}

.dld{
width: 180px;
	height: 90px;
			background: rgb(255,170,50);
			border-radius: 20px;
border: 0px solid rgb(255,170,50);
font-size: 40px;
	font-weight: 800;
color: rgb(30,30,30);
transition: all 0.2s ease;
	margin: 10px;
	margin-left: 100px;
}

.one:hover {
 	width: 900px;
		 background: rgb(255, 160, 20);
}
.sec:hover{
width: 900px;
background: rgb(20,20,30);
}
.dld:hover {
background: rgb(30,30,30);
border: 5px solid rgb(255,170,50);
color: rgb(255,170,50);
	width: 200px;
}
.box{
display: flex;
	align-items:center;
gap:10px;
}
h3{
margin-top: 500px;
color: gray;

}
li{
font-size: 50px;
transition: all 0.2s ease;

}
li:hover {
font-size: 60px;
		 
}